%h1 Item
%p= item.name
%p= item.description
%p= link_to 'Edit', edit_item_path(item), class: 'btn btn-success'

= render 'item_users/select_box', user_rec: item_user

%hr
= render 'partials/user_records', users_rec: item_users, user_controller: 'item_users', expense_id: ''

%hr
= render 'expenses/form'

%hr
- expenses.each do |e|
  .row
    .col-md-6
      %p 
        %strong #{e.name} - #{e.amount}
    .col-md-6
      = render 'expense_users/select_box', user_rec: expense_user, expense_id: e.id
      = render 'partials/user_records', users_rec: ExpenseUser.get_participants(e.id), user_controller: 'expense_users', expense_id: e.id      
  %hr